main{
    margin-left: 15%;
    overflow-x: hidden;
}

#jumpMenu {
    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightcyan;
    width: 15%;
    min-height: 150%;
    z-index: 100;
}

#jumpMenu h2, #jumpMenu a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 2.0;
    width: 100%;
    text-align: center;
    padding: 10px, 0px;
    margin: 0;
}

header {
    position: fixed;
    top: 0%;
    left: 15%;
    width: 85%;
    max-height: 35%;
    background: linear-gradient(
        to bottom,
        cornflowerblue 60%,
        lavender 40%
    );
    z-index: 100;
}   

header nav {
    position: relative;
    left: 25%;
    top: 20px;
    margin: 10px;
    padding: 10px;
}

header p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    text-align: center;
    padding: 0px;
    margin: 10px;
}

header button {
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    background-color: white;
    margin: 10px;
}

header button:hover {
    background-color: lightcyan;
    cursor: pointer;
}

h1 {
    margin-top: 150px;
    left: 15%;
    text-align: center;
    z-index: 5;
}

#container {
    position: relative;
    margin-left: 15%;
    margin-left: 10px;
    max-height: 90%;
    z-index: 5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

article {
    scroll-margin-top: 110px;
    flex: 1 1 250px;
    margin: 10px 0px;
    padding: 10px;
}

article p {
    min-width: 250px;
    max-width: 250px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
}

#thanks {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 180px;
    height: 30px;
    border: 1px solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: cornflowerblue;
    text-align: center;
    font-weight: bold;
    z-index: 100;
}

footer {
    position: relative;
    bottom: 0;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    z-index: 5;
}
